<p id="notice"><%= notice %></p>

<p>
  <b>Typ:</b>
  <%= @room.typ %>
</p>

<p>
  <b>Cena:</b>
  <%= @room.cena %>
</p>

<p>
  <b>Lazienka:</b>
  <%= @room.lazienka %>
</p>

<p>
  <b>Aneks kuchenny:</b>
  <%= @room.aneks_kuchenny %>
</p>

<p>
  <b>Minibarek:</b>
  <%= @room.minibarek %>
</p>

<p>
  <b>Sejf:</b>
  <%= @room.sejf %>
</p>

<p>
  <b>Telewizor:</b>
  <%= @room.telewizor %>
</p>

<p>
  <b>Telefon:</b>
  <%= @room.telefon %>
</p>

<p>
  <b>Radio:</b>
  <%= @room.radio %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
